* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.teclado-alfabetico {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.teclado-letras {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  max-width: 600px;
}

.teclado-numeros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 300px;
}
