body {
    font-family: system-ui;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    margin-top: 50px;
}

#contenedor {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    background-color: #fff;
}
